<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to post.title, post %></h2>
  <p class="blog-post-meta"><%= post.created_at %> by Tom | 
    Tags:
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </p>
  <p> <%= post.content %> </p>
  <p class="video"><%= youtube_video post.video if post.video? %></p>
  <p class="image"><%= image_tag post.image.url if post.image? %></p>
</div>